@import '../../variables.scss';

.container{
  @include md {display: flex; align-items: center; padding: 50px 100px 50px 0;}
  @include lg {padding: 50px 100px 100px 0;}
  @include xl {padding: 50px 200px 100px 0;}
  .info-container{
    overflow: auto;
    padding: 0 50px;
    @include md {padding-left: 50px;}
    @include lg {padding-left: 100px;}
    .accordion-container{
      padding: 5px;
      .panel-header{
        height: 100% !important;
        &:hover{
          background-color: $white !important;
          color: $yellow !important;
          .panel-title{color: $yellow !important;}
        }
        .panel-title{
          margin: 15px !important;
          font-size: 24px;
          @include md {font-size: 28px;}
        }
      }
      .panel-description{
        padding: 0 10px;
        font-size: 14px;
        line-height: 19px;
        @include md {
          line-height: 30px;
          font-size: 18px;
        }
      }
    }
  }
  .image{
    max-width: 100%;
    height: auto;  
    @include md {height: 500px; display: inline;}
    @include xl {height: 700px;}
  }
}
// .container{
//   @include md {
//     margin: 100px;
//     display: flex;
//   }
//   @include xl {margin: 50px 200px 100px 0;}
//   .info-container{
//     padding: 0 50px;
//     @include md {padding-left: 100px;}
//     .panel-header{
//       height: 100% !important;
//       &:hover{
//         background-color: $white !important;
//         color: $yellow !important;
//         .panel-title{color: $yellow !important;}
//       }
//       .panel-title{
//         margin: 15px !important;
//         font-size: 24px;
//         @include md {font-size: 28px;}
//       }
//     }
//     .panel-description{
//       padding: 0 10px;
//       font-size: 14px;
//       line-height: 19px;
//       @include md {
//         line-height: 30px;
//         font-size: 18px;
//       }
//     }
//   }
//   .image{
//     height: 700px;
//     @include md {height: 500px; display: inline;}
//     @include lg {height: 600px;}
//     @include xl {height: 700px;}
//   }
// }