<div class="container" id='community'>
  <h1 class="title">Our community is big</h1>
  <div class="members-container">
    <div class="member" (click)="goToFacebook()">
      <img src="../../../assets/facebook.png" class="image">
    </div>
    <div class="member" (click)="goToLINT()">
      <img src="../../../assets/loveisnottourism.png" class="image">
    </div>
    <div class="member" (click)="goToTwitter()">
      <img src="../../../assets/twitter.png" class="image">
    </div>
  </div>
</div>