@import '../../../variables.scss';

.container{
  padding: 0 50px 50px 50px;
  @include md {
    padding: 0 100px 50px 100px;
    display: flex;
    justify-content: space-between;
  }
  @include xl {padding: 0 200px 50px 200px;}
  .share-container{
    padding-bottom: 100px;
    @include md {padding-right: 50px;}
    @include lg {padding-right: 150px;}
  }
  .twitter-timeline{
    width: 300px;
  }
}

.container-avatar{
  padding: 0 50px 50px 50px;
  @include md {padding: 0 100px 50px 100px;}
  @include xl {padding: 0 200px 50px 200px;}
  .title{
    text-align: left;
    font-size: 43px;
    @include md {
      text-align: center;
      font-size: 63px;
    }
  }
  .subtitle{
    text-align: left;
    @include md {text-align: center;}
  }
  .avatar-transform-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include md {
      flex-direction: row;
      justify-content: unset;
    }
    .avatar-input{
      align-self: center;
      padding-top: 30px;
      @include md {padding-left: 50px;}
      @include lg {padding-left: 100px;}
      .select{
        width: 100%;
      }
    }
    .avatar-image{
      width: 100%;
      height: 100%;
      object-fit: contain;
      @include md {width: 50%; height: 50%;}
      @include lg {width: 60%; height: 60%;}
    }
  }
}

.share-button{
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 220px;
  margin-top: 30px;
  @include sm {width: 250px;}
  &.twitter{
    background-color: $twitter-blue;
    .icon-container{background-color: $twitter-blue-light;}
  }
  &.facebook{
    background-color: $facebook-blue;
    .icon-container{background-color: $facebook-blue-light;}
  }
  &.change{
    background-color: $change-red;
    .icon-container{
      padding: 10px 16px;
      background-color: $change-red-light;
      @include sm {padding: 11px 16px;}
      .change-icon{
        width: 24px;
        height: 24px;
      }
    }
  }
  &.picture{
    background-color: $red;
    width: 100%;
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      +label{
        align-self: center;
        text-align: start;
        color: white;
        border-radius: 5px;
        width: 100%;
        font-size: 15px;
        color: white;
        background-color: $red;
        display: inline-block;
        padding: 14px 0;
        .camera-icon{
          padding: 0 60px;
        }
      }
    }
  }
  .icon-container{
    padding: 15px 20px;
    border-radius: 5px 0 0 5px;
    @include sm {padding: 16px 20px;}
  }
  .button-text{
    padding-left: 30px;
    color: white;
    font-size: 15px;
    @include sm {padding-left: 40px;}
  }
}